body{

margin:0;

background:#f3f4f6;

font-family:
"Inter",
Arial,
sans-serif;

}



.product-area{

max-width:1280px;

margin:auto;

padding:30px;

}



/* CATEGORY */

.category{

display:flex;

gap:12px;

overflow:auto;

margin-bottom:25px;

}



.category button{

background:white;

border:none;

padding:12px 24px;

border-radius:30px;

font-size:15px;

font-weight:500;

box-shadow:
0 3px 10px rgba(0,0,0,.08);

transition:.3s;

}



.category button:hover{

background:#d70018;

color:white;

transform:
translateY(-3px);

}




/* GRID */

.product-grid{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;

}



/* CARD */

.product-card{

background:white;

border-radius:22px;

padding:18px;

position:relative;

overflow:hidden;

transition:.35s;

border:
1px solid #eee;

}



.product-card:hover{

transform:
translateY(-8px);

box-shadow:
0 15px 35px
rgba(0,0,0,.12);

}



/* SALE */

.sale-tag{

position:absolute;

top:15px;

left:15px;

background:
linear-gradient(
135deg,
#ff512f,
#dd2476
);

color:white;

padding:7px 12px;

font-size:13px;

font-weight:600;

border-radius:
0 20px 20px 0;

}



.installment{

position:absolute;

top:15px;

right:15px;

background:#e8f1ff;

color:#0066ff;

padding:6px 10px;

border-radius:20px;

font-size:12px;

}



.favorite{

position:absolute;

right:15px;

bottom:110px;

border:none;

background:white;

width:35px;

height:35px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

box-shadow:
0 3px 10px rgba(0,0,0,.15);

}



/* IMAGE */


.image-box{

height:240px;

display:flex;

align-items:center;

justify-content:center;

}



.image-box img{

width:90%;

height:90%;

object-fit:contain;

transition:.4s;

}



.product-card:hover img{

transform:
scale(1.12);

}



/* TEXT */


.brand{

font-size:13px;

color:#777;

margin-top:10px;

}



h3{

font-size:16px;

font-weight:600;

line-height:1.4;

height:45px;

overflow:hidden;

margin:8px 0;

}




/* PRICE */


.price-box{

display:flex;

align-items:center;

gap:10px;

}



.price{

font-size:22px;

font-weight:700;

color:#d70018;

}



.old-price{

color:#999;

font-size:14px;

text-decoration:line-through;

}



/* PROMOTION */


.promotion{

background:
#f8f9ff;

border-radius:8px;

padding:8px;

margin-top:8px;

font-size:13px;

color:#444;

}



/* FOOTER */


.product-footer{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:15px;

}



.delivery{

display:flex;

align-items:center;

gap:5px;

color:#1677ff;

font-size:14px;

}



.rating{

display:flex;

align-items:center;

gap:4px;

font-weight:600;

}



@media(max-width:1000px){

.product-grid{

grid-template-columns:
repeat(3,1fr);

}

}


@media(max-width:700px){

.product-grid{

grid-template-columns:
repeat(2,1fr);

}

}



@media(max-width:450px){

.product-grid{

grid-template-columns:
1fr;

}

}