/* Reset cơ bản */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html{
    font-size:16px;
}

body{
    font-family:Arial, sans-serif;
    color:#333333;
    background:#ffffff;
}

/* Header */
.site-header{
    background:#ffffff;
    border-bottom:0.0625rem solid #dddddd;
}

.header-container{
    max-width:75rem;
    margin:0 auto;
    padding:0.5rem 0;
    white-space:nowrap;
}

/* Logo và menu nằm ngang bằng inline-block, không dùng flex */
.logo-link,.main-nav{
    display:inline-block;
    vertical-align:middle;
}

.logo-link{
    margin-right:1.5625rem;
}

.logo{
    width:2.375rem;
    height:2.375rem;
    display:block;
}

/* Menu cấp 1 */
.main-nav ul{
    list-style:none;
}

.level-1 > li{
    display:inline-block;
    position:relative;
    vertical-align:middle;
    margin-right:1.5625rem;
}

.level-1 >li:last:child{
    margin-right:0;
}

.level-1 >li >a{
    display:inline-block;
    text-decoration:none;
    color:#333333;
    font-weight:700;
    padding:0.375rem 0;
    border-bottom:0.125rem solid transparent;
    line-height:1.2;
}

.level-1> li:hover>a{
    color:#d62828;
    border-bottom:0.125 solid #d62828;
}

/* Icon Submenu */
.icon-down{
    font-size:0.625rem;
    color:#555555;
    margin-left:0.25rem;
    vertical-align: middle;
}

.icon-right{
    font-size:0.625rem;
    color:#777777;
    top:50%;
    position:absolute;
    transform:translateY(-50%);
}

/* DropDown cấp 1 */
.dropdown{
    display:none;
    position:absolute;
    min-width:12.5rem;
    background:#ffffff;
    border:0.0625rem solid #dddddd;
    z-index:999;
}

.level-2{
    top:100%;
    left:0;
}

.level-1 >li:hover>.level-2{
    display:block;
}

.dropdown li{
    position:relative;

}

.dropdown li a{
    display:block;
    text-decoration:none;
    color:#333333;
    padding:0.375rem 0.625rem;
    line-height:1.2;
    white-space:nowrap;
}

.dropdown li:hover>a{
    background:#f5f5f5;
    color:#d62828;
}

/* Dropdown cấp 2 */

.level-3{
    top:0;
    left:100%;
}

.has-submenu:hover>.level-3{
    display:block;
}

.has-submenu>a{
    position:relative;
    padding-right:1.5625rem;
}