/* Tag selectors */

h1{
    color:red;
}

h2{
    color:green;
}

h3{
    color:blue;
}

p{
    color:black;
}

/* Class selectors */

.title{
    color:purple;
}

.section{
    background-color:lightgray;
}

.hightlight{
    color:orange;
}

.big{
    font-size:22px;
}

/* ID selectors */

#main{
    color: brown;
}

#special{
    color:teal;
}